<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&amp;subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" media="all" />
    <script src="/js/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="/js/selectivizr-min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.znice.css" media="all" />
    <script src="/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/js/jquery.znice.validate.js" type="text/javascript"></script>
    <script src="/js/jquery.znice.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox.css" media="all" />
    <script src="/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="/js/modernizr.js" type="text/javascript"></script>
    <script src="/js/jquery.watermark.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" media="all" />
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    <script src="/js/scr.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
        document.createElement('time');
    </script>
    <script src="/js/pie.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if lt IE 8]><script src="/js/oldie/warning.js"></script><script>window.onload=function(){e("/js/oldie/")}</script><![endif]-->
</head>
<body>
<div class="zHiddenBlock">
    <div class="tablePopup" id="keyWord">
        <div class="popupTitle">
            Ключевое слово
        </div>
        <div class="sTable">
            <table>
                <thead>
                <tr>
                    <td>
                        <div class="sTable-inner grayBg">Дата</div>
                    </td>
                    <td>
                        <div class="sTable-inner">Р</div>
                    </td>
                    <td>
                        <div class="sTable-inner">"Р"</div>
                    </td>
                    <td>
                        <div class="sTable-inner">М</div>
                    </td>
                    <td>
                        <div class="sTable-inner">"М"</div>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>21.02.15</td>
                    <td>5 000</td>
                    <td>1 000</td>
                    <td>4 000</td>
                    <td>1 000</td>
                </tr>
                <tr>
                    <td>21.02.15</td>
                    <td>5 000</td>
                    <td>1 000</td>
                    <td>4 000</td>
                    <td>1 000</td>
                </tr>
                <tr>
                    <td>21.02.15</td>
                    <td>5 000</td>
                    <td>1 000</td>
                    <td>4 000</td>
                    <td>1 000</td>
                </tr>
                <tr>
                    <td>21.02.15</td>
                    <td>5 000</td>
                    <td>1 000</td>
                    <td>4 000</td>
                    <td>1 000</td>
                </tr>
                <tr>
                    <td>21.02.15</td>
                    <td>5 000</td>
                    <td>1 000</td>
                    <td>4 000</td>
                    <td>1 000</td>
                </tr>
                <tr>
                    <td>21.02.15</td>
                    <td>5 000</td>
                    <td>1 000</td>
                    <td>4 000</td>
                    <td>1 000</td>
                </tr>
                <tr>
                    <td>21.02.15</td>
                    <td>5 000</td>
                    <td>1 000</td>
                    <td>4 000</td>
                    <td>1 000</td>
                </tr>
                <tr>
                    <td>21.02.15</td>
                    <td>5 000</td>
                    <td>1 000</td>
                    <td>4 000</td>
                    <td>1 000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="lPopup report" id="report">
        <div class="popupTitle">
            Вывести отчет
        </div>
        <div class="report-form zForm zNice">
            <form>
                <div class="zForm-row">
                    <div class="zForm-col">
                        <div class="report-form-left pull-left">От</div>
                        <div class="report-form-right pull-left">
                            <input type="text" required="required" class="inputDate" name="date_inp" id="dateFrom" data-image="images/input_date.png"/>
                        </div>
                    </div>
                    <div class="zForm-col">
                        <div class="report-form-left pull-left">До</div>
                        <div class="report-form-right pull-left">
                            <input type="text" required="required" class="inputDate" name="date_inp2" id="dateTo" data-image="images/input_date.png"/>
                        </div>
                    </div>
                </div>
                <div class="zForm-row radioRow">
                    <div class="zForm-text">Формат:</div>
                    <label class="zForm-radio">
                        <input type="radio" name="format" checked="checked"/><span class="zForm-text">html</span>
                    </label>
                    <label class="zForm-radio">
                        <input type="radio" name="format"/><span class="zForm-text">xls</span>
                    </label>
                </div>
                <div class="zForm-row">
                    <input type="submit" class="sm-btn" value="ВЫВЕСТИ"/>
                    <a href="#" class="button button_bgay sm-btn closeFancybox">ОТМЕНИТЬ</a>
                </div>
            </form>
        </div>
    </div>
    <div class="lPopup report" id="addSite">
        <div class="popupTitle">
            Добавить код
        </div>
        <div class="report-form zForm zNice">
            <form>
                <div class="zForm-row">
                    <input type="text" required="required" placeholder="Название сайта"/>
                </div>
                <div class="zForm-row radioRow">
                    <input type="text" required="required" placeholder="Код"/>
                </div>
                <div class="zForm-row">
                    <input type="submit" class="sm-btn" value="Добавить"/>
                    <a href="#" class="button button_bgay sm-btn closeFancybox">ОТМЕНИТЬ</a>
                </div>
            </form>
        </div>
    </div>
    <div class="lPopup report" id="addKonk">
        <div class="popupTitle">
            Добавить конкурента
        </div>
        <div class="report-form zForm zNice">
            <form>
                <div class="zForm-row">
                    <input type="text" required="required" placeholder="Название конкурента"/>
                </div>
                <div class="zForm-row radioRow">
                    <input type="text" required="required" placeholder="URL товара"/>
                </div>
                <div class="zForm-row">
                    <input type="submit" class="sm-btn" value="Добавить"/>
                    <a href="#" class="button button_bgay sm-btn closeFancybox">ОТМЕНИТЬ</a>
                </div>
            </form>
        </div>
    </div>
    <div class="lPopup productEdit zNice" id="productEdit">
        <form>
            <div class="productEdit-top text-right">
                <a href="#" class="icon icon_edit editButton"></a>
                <a href="#" class="icon icon_refr refreshButton"></a>
            </div>
            <div class="productEdit-line">
                <div class="productEdit-line-tabel">
                    Товар:
                </div>
                <div class="productEdit-line-text productEdit-name">
                    <input type="text" class="editInput" readonly="readonly" value="RGK UL-41" required="required"/>
                </div>
            </div>
            <div class="productEdit-line">
                <div class="productEdit-line-tabel">
                    Категория:
                </div>
                <div class="productEdit-line-text productEdit-cat">
                    <input type="text" class="editInput" readonly="readonly" value="Лазерный уровень" required="required"/>
                </div>
            </div>
            <div class="productEdit-line">
                <div class="productEdit-line-tabel">
                    URL товара:
                </div>
                <div class="productEdit-line-text productEdit-url">
                    <input type="text" class="editInput" readonly="readonly" value="www.220-volt.ru/rgk-ui-41" required="required"/>
                </div>
            </div>
            <div class="productEdit-line">
                <div class="productEdit-line-tabel">
                    Последнее обновление:
                </div>
                <div class="productEdit-line-text productEdit-date">
                    01.11.2015
                </div>
            </div>
            <input type="hidden" id="productId">
        </form>
    </div>
</div>
<header class="header">
    <div class="mbox hpaddBlock">
        <div class="header-logo pull-left">
            <a href="{{ path('rgk_price_index') }}"><img src="/images/logo.png" alt="" /></a>
        </div>
        <div class="header-cabinet pull-right">
            <div class="hCabinet row">
                <div class="hCabinet-right pull-right">
                    <a href="#"><img src="/images/hcab.jpg" alt=""/></a>
                </div>
                <div class="hCabinet-left text-right">
                    <div class="hCabinet-name">{{ app.user.username }}</div>
                    <a href="{{ asset('logout') }}" class="hCabinet-link">Выйти</a>
                </div>
            </div>
        </div>
        <div class="header-select zNice">
            {#<form>
                <select>
                    <option>Выбрать сайт</option>
                    <option>Сайт 1</option>
                    <option>Сайт 2</option>
                    <option>Сайт 3</option>
                    <option>Сайт 4</option>
                    <option>Сайт 5</option>
                    <option>Сайт 6</option>
                </select>
            </form>#}
        </div>
    </div>
</header>

<div class="topLine-bottom">
    <div class="mbox hpaddBlock">
        {% block breadcrumbs %}
            {% if breadcrumbs is defined and breadcrumbs is not empty %}
            <div class="topLine-left pull-left">
                <div class="breadcrumbs">
                    <ul>
                        {% for item in breadcrumbs %}
                        <li>
                            {% if item.link is defined and item.link is not empty %}
                                <a href="{{ item.link }}">{{ item.title }} <span class="icon icon_pointerRigt"></span></a>
                            {% else %}
                                {{ item.title }}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        {% endblock %}
    </div>
</div>
<div class="menuBg"></div>
<div class="main mbox">
    <aside class="sidebar_w">
        <div class="sidebar">
            <div class="leftMenu">
                {% block leftMenu %}
                    {% if leftMenu is defined and leftMenu is not empty %}
                    <ul>
                        {% for item in leftMenu %}
                            <li {% if app.request.attributes.get('_route') == item.link or app.request.attributes.get('_route') in item.sub_links %} class="active" {% endif %}>
                                <a href="{{ path(item.link) }}"><span class="icon {{ item.class }}"></span>{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </aside>
    <section class="content_w">
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </section>
    <div class="clear"></div>
</div>
</body>
</html>