{% extends 'RgkBundle:Admin:base.html.twig' %}
{% macro recursiveMenu(section,parentid=0,active_section=0,depth=0) %}
    <li {% if depth == 1 %}class="active"{% endif %}>
        {% if section.folder %}

        <div class="wrap-title"><span class="icon icon_lplus"></span><span class="icon icon_folder"></span>
            <a href="javascript:void(0)" data-id="{{ section.id }}" data-parentid="{{ (parentid>0?parentid:'') }}" class="folder_item {% if section.id == active_section %}active{% endif %}">{{ section.title }}</a>
        </div>

            <ul>
                {% for child in section.children %}
                    {{ _self.recursiveMenu(child,section.id,active_section) }}
                {% endfor %}
            </ul>
        {% else %}

            <span class="icon icon_file"></span>
            <a href="{{ path("rgk_price_section", {'id': section.id}) }}" data-id="{{ section.id }}"  data-parentid="{{ (parentid>0?parentid:'') }}" class="{% if section.id == active_section %}active{% endif %}" >{{ section.title }}</a>

        {% endif %}
    </li>
{% endmacro %}
{% macro folderOptions(section,depth=0) %}
    {% if section.folder %}
        <option value="{{ section.id }}">{% for i in 0..depth %}&nbsp;{% endfor %}{{ section.title }}</option>
        {% set depth = depth + 1 %}
        {% for child in section.children %}
            {{ _self.folderOptions(child,depth) }}
        {% endfor %}
    {% endif %}
{% endmacro %}
{% block zhidden %}
    {{ parent() }}
    <div class="lPopup popTroll" id="createGroupNew">
        <div class="popupTitle">
            Добавить группу
        </div>
        <div class="report-form zForm zNice">
            <form data-action="{{ path('rgk_post_section') }}">
                <input type="hidden" name="section[folder]" value="" />
                <div class="zForm-row">
                    <input type="text" required="required" name="section[title]" class="newGroup" placeholder="Название"/>
                </div>
                <div class="zForm-row">
                    <select name="section[section]">
                        <option value="">Корневой раздел</option>
                        {% for section in sections %}
                            {{ _self.folderOptions(section) }}
                        {% endfor %}
                    </select>
                </div>
                <div class="zForm-row">
                    <a class="button" onclick="universalSubmit($('#createGroupNew form')); return false;"><span>Добавить</span></a>
                    <a href="#" class="button button_bgay sm-btn closeFancybox">ОТМЕНИТЬ</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% block sections %}
        <div class="content-left scroll-for-x pull-left litright">

            <div class="tabs blueTabs">
                <div class="tabs-window" data-utab="1">
                    <div class="catalogTop searchWrap smart">
                        <div class="hsearch">
                            <div class="search">
                                <form onsubmit="return false;">
                                    <div class="search-button">
                                        <input type="submit" value=""/>
                                    </div>
                                    <div class="searsh-input">
                                        <input id="smartSearch" type="text" placeholder="Поиск"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="lPopup popTroll" id="createMainGroup">
                        <div class="one-row-buttons">

                                <div class="zForm-row">
                                    <button onclick="createSection(1); return false;"><span>Создать папку</span></button>
                                </div>
                                <div class="zForm-row">
                                    <button onclick="createSection(0); return false;"><span>Создать группу</span></button>
                                </div>

                        </div>
                    </div>
                    <div class="catalogList-wrap">
                        <div class="modalWindow miss smartSearch-modal">
                            <ul>
                                <li>
                                    <a href="#createItem" class="fancybox-popup">Создать товар</a>
                                </li>
                                <li class="creative-menu-punct">
                                    <a href="#createGroup" class="fancybox-popup">Создать группу</a>
                                </li>
                                <li>
                                    <a href="#" class="editItem">Редактировать</a>
                                </li>
                                <li>
                                    <a href="#" class="moveItem">Перемеситить</a>
                                </li>
                                <li>
                                    <a href="#deleteItem" class="fancybox-popup">Удалить</a>
                                </li>
                            </ul>
                        </div>
                        {% if sections %}
                            <div class="catalogList">
                                <ul class="main active" style="display: block;">
                                    {% for section in sections %}
                                        {{ _self.recursiveMenu(section,0,active_section,1) }}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}
    {% block product %}
        {% if products is defined %}
            <div class="allWidth-content right-tabs">
                <h1 class="mainheading">
                    <span>{{ active_section_title }}</span><a href="#" data-id="{{ active_section }}" data-parentid="{{ active_section_parent_id }}" class="icon icon_edit pull-right editActiveSection"></a>
                </h1>
                {% if products|length %}<a href="/xls/{{ active_section }}" class="button" style="margin-bottom: 10px;">Скачать отчет</a>{% endif %}

                <div class="tables-wrap">
                    {% if products|length %}
                        <div class="sTable bTable Add-on_price tables-wraper">
                            <div class="modalWindow-tovar miss tovar-modal">
                                <ul>
                                    <li>
                                        <a href="#" class="editingTovar">Редактировать</a>
                                    </li>
                                    <li>
                                        <a href="#" class="createConcurent">Создать конкурента</a>
                                    </li>
                                    <li>
                                        <a href="#" class="moveUpTovar">Перемеситить вверх</a>
                                    </li>
                                    <li>
                                        <a href="#" class="moveDownTovar">Перемеситить вниз</a>
                                    </li>
                                    <li>
                                        <a href="#deleteTovar" class="deletingTovar fancybox-popup">Удалить</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="table-new-one">
                                <div class="table-head wdth">
                                    <div class="table-td"><a href="#createItem" onclick="createItem({{ active_section }})" class="sTable-inner grayBg fancybox-popup"><span class="icon icon_litplus pull-left"></span>ТОВАР</a></div>
                                    <div class="table-td sTable-inner">Цена</div>
                                </div>
                                {% for product in products %}
                                    <div class="table-row wdth" data-id="{{ product.id }}" data-section="{{ product.section?product.section.id:'' }}" data-name="{{ product.title }}" data-price="{{ product.price }}" data-url="{{ product.url }}">
                                        <div class="table-td">

                                            {% if product.url is defined and product.url is not empty %}
                                                <a href="{{ product.url }}" target="_blank" class="linkProduct">
                                                    {{ product.title }}
                                                </a>
                                            {% else %}
                                                {{ product.title }}
                                            {% endif %}
                                            <p class="section-titlus">/{{ product.section?product.section.title:'' }}/</p>
                                        </div>
                                        <div class="table-td" >{{ product.price|number_format(0,',',' ') }}
                                            {% if product.percent != 0 %}
                                                <span class="Bgmonitoring" style="background: {{ product.label }};">{{ product.percent }}%</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if rivals %}
                            <div class="new-table-price">
                                <div class="modalWindow-conc conc-modal">
                                    <ul>
                                        <li>
                                            <a href="#" class="moveConc">Переместить</a>
                                        </li>
                                        <li>
                                            <a href="#" class="delConc">Удалить</a>
                                        </li>

                                    </ul>
                                    <div  class="fancybox-item modal-close fancybox-close"></div>
                                </div>
                                <div class="table-new-two">
                                    <div class="table-head  cfix wdth" data-name="{{ active_section_title }}" data-section="{{ active_section }}">
                                        {%  set pos = 0 %}
                                        {% for rival in rivals %}
                                            {% set pos = pos +1 %}
                                            <div class="table-td" data-pos="{{ pos }}" data-id="{{ rival.id }}" data-name="{{ rival.name }}" >{{ rival.name }}<a href="#" class="icon icon_edit context-conc"></a></div>
                                        {% endfor %}
                                        <script>
                                            var revalCodes = {
                                                {% for rival in rivals %}
                                                    {{ (loop.first?'':',') }}{{ rival.id }}: {
                                                        {% for code in rival.code %}
                                                            {{ (loop.first?'':',') }}{{ code.id }}: {
                                                                title: '{{ code.code }}',
                                                                selected: {{ (code.def?1:0) }}
                                                            }
                                                        {% endfor %}
                                                    }
                                                {% endfor %}
                                            };
                                        </script>
                                    </div>
                                    {% for product in products %}
                                        <div class="table-row cfix wdth" data-id="{{ product.id }}" data-section="{{ product.section.title }}" data-product-name="{{ product.title }}">
                                            {% for rival in rivals %}

                                                {% set noValue = true %}

                                                {% for price in product.prices %}
                                                    {% if noValue and price.code.rival.id == rival.id %}
                                                        <div class="table-td editablePopup"
                                                             data-rival-id="{{ rival.id }}"
                                                             data-price-id="{{ price.id }}"
                                                             data-price-title="{{ price.title }}"
                                                             data-price-url="{{ price.url }}"
                                                             data-price-date="{{ price.date|date("d.m.Y") }}"
                                                             data-price-code="{{ price.code.id }}"
                                                             data-price-price="{{ (price.price?price.price:'-') }}"
                                                        >
                                                            {% if price.price %}
                                                                {{ price.price|number_format(0,',',' ') }}
                                                                {% if price.percent != 0 %}
                                                                    <span class="Bgmonitoring" style="background: {{ price.label }};">{{ price.percent }}%</span>
                                                                {% endif %}
                                                            {% else %}
                                                                -
                                                            {% endif %}
                                                        </div>
                                                        {% set noValue = false %}
                                                    {% endif %}
                                                {% endfor %}

                                                {% if noValue %}
                                                    <div class="table-td creatingPopup" data-rival-id="{{ rival.id }}">-</div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <p>Раздет пуст</p>
                        <br>
                        <a href="#createItem" data-section="{{ active_section }}" class="button createItemButton fancybox-popup">Добавить товар</a>
                    {% endif %}
                </div>

            </div>
        {% endif %}
    {% endblock %}
{% endblock %}


