{% extends 'RgkBundle:Admin:base.html.twig' %}
{% macro recursiveMenu(section,parentid=0,active_section=0,depth=0) %}
    <li {% if depth == 1 %}class="active"{% endif %}>
        {% if section.children|length %}

        <div class="wrap-title"><span class="icon icon_lplus"></span><span class="icon icon_folder"></span>
            <a href="{{ path("rgk_price_section", {'id': section.id}) }}" data-id="{{ section.id }}" data-parentid="{{ (parentid>0?parentid:'') }}" class="folder_item {% if section.id == active_section %}active{% endif %}">{{ section.title }}</a>
        </div>

            <ul>
                {% for child in section.children %}
                    {{ _self.recursiveMenu(child,section.id,active_section) }}
                {% endfor %}
            </ul>
        {% else %}

            <span class="icon icon_file"></span>
            <a href="{{ path("rgk_price_section", {'id': section.id}) }}" data-id="{{ section.id }}"  data-parentid="{{ (parentid>0?parentid:'') }}" class="{% if section.id == active_section %}active{% endif %}" >{{ section.title }}</a>

        {% endif %}
    </li>
{% endmacro %}

{% block content %}
    {% block sections %}
        <div class="content-left pull-left litright">
        <div class="lsep"></div>
        <div class="tabs blueTabs">

            <div class="tabs-window" data-utab="1">
                <div class="catalogTop searchWrap smart">
                    <div class="hsearch">
                        <div class="search">
                            <form onsubmit="return false;">
                                <div class="search-button">
                                    <input type="submit" value=""/>
                                </div>
                                <div class="searsh-input">
                                    <input id="smartSearch" type="text" placeholder="Поиск"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="catalogList-wrap">
                    <div class="modalWindow smartSearch-modal">
                        <ul>
                            <li>
                                <a href="#createItem" class="fancybox-popup">Создать товар</a>
                            </li>
                            <li>
                                <a href="#createGroup" class="fancybox-popup">Создать группу</a>
                            </li>
                            <li>
                                <a href="#" class="editItem">Редактировать</a>
                            </li>
                            <li>
                                <a href="#" class="moveItem">Перемеситить</a>
                            </li>
                            <li>
                                <a href="#deleteItem" class="fancybox-popup">Удалить</a>
                            </li>
                        </ul>
                    </div>
                    {% if sections %}
                        <div class="catalogList">
                            <ul class="main active" style="display: block;">
                                {% for section in sections %}
                                    {{ _self.recursiveMenu(section,0,active_section,1) }}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    {% endblock %}
    {% block product %}
        {% if products is defined %}
            <div class="allWidth-content right-tabs">
                <h1 class="mainheading">
                    <span>{{ active_section_title }}</span><a href="#" data-id="{{ active_section }}" data-parentid="{{ active_section_parent_id }}" class="icon icon_edit pull-right editActiveSection"></a>
                </h1>
                <div class="lsep"></div>
                <div class="tables-wrap">
                    {% if products|length %}
                        <div class="sTable bTable Add-on_price">
                            <div class="table-new-one">
                                <div class="table-head wdth">
                                    <div class="table-td"><a href="#keyWord" class="sTable-inner grayBg fancybox-popup">ТОВАР <span class="pull-right RightMar">↓</span></a></div>
                                    <div class="table-td"><a href="#keyWord" class="sTable-inner grayBg fancybox-popup">Цена <span class="pull-right RightMar">↓</span></a></div>
                                </div>
                                {% for product in products %}
                                    <div class="table-row wdth" data-id="{{ product.id }}">
                                        <div class="table-td" >{{ product.title }}<p>{{ product.section.title }}</p></div>
                                        <div class="table-td" >{{ product.price|number_format(0,',',' ') }}
                                            {% if product.percent != 0 %}
                                                <span class="Bgmonitoring" style="background: {{ product.label }};">{{ product.percent }}%</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if rivals %}
                            <div class="new-table-price">
                                <div class="table-new-two">
                                    <div class="table-head  cfix wdth">
                                        {% for rival in rivals %}
                                            <div class="table-td">{{ rival.name }}</div>

                                        {% endfor %}
                                        <script>
                                            var revalCodes = {
                                                {% for rival in rivals %}
                                                    {{ (loop.first?'':',') }}{{ rival.id }}: {
                                                        {% for code in rival.code %}
                                                            {{ (loop.first?'':',') }}{{ code.id }}: {
                                                                title: '{{ code.code }}',
                                                                selected: {{ (code.def?1:0) }}
                                                            }
                                                        {% endfor %}
                                                    }
                                                {% endfor %}
                                            };
                                        </script>
                                    </div>
                                    {% for product in products %}
                                        <div class="table-row cfix wdth" data-id="{{ product.id }}" data-section="{{ product.section.title }}" data-product-name="{{ product.title }}">
                                            {% for rival in rivals %}

                                                {% set noValue = true %}

                                                {% for price in product.prices %}
                                                    {% if noValue and price.code.rival.id == rival.id %}
                                                        <div class="table-td editablePopup"
                                                             data-rival-id="{{ rival.id }}"
                                                             data-price-id="{{ price.id }}"
                                                             data-price-title="{{ price.title }}"
                                                             data-price-url="{{ price.url }}"
                                                             data-price-date="{{ price.date|date("m.d.Y") }}"
                                                             data-price-code="{{ price.code.id }}"
                                                             data-price-price="{{ (price.price?price.price:'-') }}"
                                                        >
                                                            {% if price.price %}
                                                                {{ price.price|number_format(0,',',' ') }}
                                                                {% if price.percent != 0 %}
                                                                    <span class="Bgmonitoring" style="background: {{ price.label }};">{{ price.percent }}%</span>
                                                                {% endif %}
                                                            {% else %}
                                                                -
                                                            {% endif %}
                                                        </div>
                                                        {% set noValue = false %}
                                                    {% endif %}
                                                {% endfor %}

                                                {% if noValue %}
                                                    <div class="table-td creatingPopup" data-rival-id="{{ rival.id }}">-</div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        Раздет пуст
                    {% endif %}
                </div>

            </div>
        {% endif %}
    {% endblock %}
{% endblock %}


