{% extends 'RgkBundle:Admin:base.html.twig' %}
{% macro recursiveMenu(section,active_section=0,depth=0) %}
    <li {% if depth == 1 %}class="active"{% endif %}>
        {% if section.children|length %}

        <div class="wrap-title"><span class="icon icon_lplus"></span><span class="icon icon_folder"></span><a href="{{ path("rgk_price_section", {'id': section.id}) }}" data-id="{{ section.id }}" class="folder_item {% if section.id == active_section %}active{% endif %}">{{ section.title }}</a></div>

            <ul>
                {% for child in section.children %}
                    {{ _self.recursiveMenu(child) }}
                {% endfor %}
            </ul>
        {% else %}

            <span class="icon icon_file"></span><a href="{{ path("rgk_price_section", {'id': section.id}) }}" data-id="{{ section.id }}" class="{% if section.id == active_section %}active{% endif %}" >{{ section.title }}</a>

        {% endif %}
    </li>
{% endmacro %}

{% block content %}
    {% block sections %}
        <div class="content-left pull-left litright">
        <div class="lsep"></div>
        <div class="tabs blueTabs">
            <div class="tabs-buttons">
                <a href="#" data-utab="1" class="active">Товары</a>

                <div class="clear"></div>
            </div>
            <div class="tabs-window" data-utab="1">
                <div class="catalogTop searchWrap smart">
                    <div class="hsearch">
                        <div class="search">
                            <form onsubmit="return false;">
                                <div class="search-button">
                                    <input type="submit" value=""/>
                                </div>
                                <div class="searsh-input">
                                    <input id="smartSearch" type="text" placeholder="Поиск"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="catalogList-wrap">
                    <div class="modalWindow">
                        <ul>
                            <li>
                                <a href="#">Создать группу</a>
                            </li>
                            <li>
                                <a href="#">Редактировать</a>
                            </li>
                            <li>
                                <a href="#">Перемеситить</a>
                            </li>
                            <li>
                                <a href="#">Удалить</a>
                            </li>
                        </ul>
                    </div>
                    {% if sections %}
                        <div class="catalogList">
                            <ul class="main active" style="display: block;">
                                {% for section in sections %}
                                    {{ _self.recursiveMenu(section,active_section,1) }}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    {% endblock %}
    {% block product %}
        {% if products is defined %}
            <div class="allWidth-content right-tabs">
                <h1 class="mainheading">
                    <span>{{ active_section_title }}</span><a href="#" data-id="{{ active_section }}" class="icon icon_edit pull-right"></a>
                </h1>
                <div class="lsep"></div>
                <div class="tables-wrap">
                    {% if products|length %}
                        <div class="sTable bTable Add-on_price">
                            <table>
                                <thead>
                                <tr>
                                    <td><a href="#keyWord" class="sTable-inner grayBg fancybox-popup">ТОВАР <span class="pull-right RightMar">&uarr;</span></a></td>
                                    <td><a href="#keyWord" class="sTable-inner grayBg fancybox-popup">Цена <span class="pull-right RightMar">&darr;</span></a></td>
                                </tr>
                            </thead>
                                <tbody>
                                {% for product in products %}
                                    <tr data-id="{{ product.id }}">
                                        <td>{{ product.title }}</td>
                                        <td>
                                            {{ product.price|number_format(0,',',' ') }}
                                            {% if product.percent != 0 %}
                                                <span class="Bgmonitoring" style="background: {{ product.label }};">{{ product.percent }}%</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if rivals %}
                            <div class="new-table-price">
                                <div class="table-new">
                                    <div class="table-head  cfix">
                                        {% for rival in rivals %}
                                            <div class="table-td">{{ rival.name }}</div>
                                        {% endfor %}
                                    </div>
                                    {% for product in products %}
                                        <div class="table-row cfix" data-id="{{ product.id }}">
                                            {% for rival in rivals %}

                                                {% set noValue = true %}

                                                {% for price in product.prices %}
                                                    {% if noValue and price.code.rival.id == rival.id %}
                                                        <div class="table-td">
                                                            {{ price.price|number_format(0,',',' ') }}
                                                            {% if price.percent != 0 %}
                                                                <span class="Bgmonitoring" style="background: {{ price.label }};">{{ price.percent }}%</span>
                                                            {% endif %}
                                                        </div>
                                                        {% set noValue = false %}
                                                    {% endif %}
                                                {% endfor %}

                                                {% if noValue %}
                                                    <div class="table-td">-</div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        Раздет пуст
                    {% endif %}
                </div>

            </div>
        {% endif %}
    {% endblock %}
{% endblock %}


