{% extends 'RgkBundle:Admin:base.html.twig' %}
{% block zhidden %}
    {{ parent() }}
    <div class="lPopup report" id="addSite">
        <div class="popupTitle">
            Добавить конкурента
        </div>
        <div class="report-form zForm zNice">
            <form data-action="/app_dev.php/actionRival">
                <div class="zForm-row error" style="display: none; color: #ff0000;">

                </div>
                <div class="zForm-row">
                    <input type="text" required="required" placeholder="Название" name="rival[name]"/>
                </div>

                <div class="zForm-row">
                    <input type="text" minlength="5" required="required" placeholder="Адрес сайта" name="rival[url]"/>
                </div>
                <div class="zForm-row radioRow">
                    <input type="text" minlength="3" required="required" placeholder="Код" name="rival[codeText]"/>
                </div>
                <div class="zForm-row">
                    <input type="submit" class="sm-btn" value="Добавить" onclick="createRival($('#addSite form')); return false;"/>
                    <a href="#" class="button button_bgay sm-btn closeFancybox">ОТМЕНИТЬ</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="allWidth-content">
        <div class="contSearch">
            <div class="search">
                <form>
                    <div class="search-button">
                        <input type="submit" value="">
                    </div>
                    <div class="searsh-input">
                        <input type="text" placeholder="Поиск" name="q" value="{{ q }}">
                    </div>
                </form>
            </div>
        </div>
        <div class="lsep"></div>
        <div class="sTable bTable prodTable">
            <table>
                <thead>
                <tr>

                    <td><a href="#addSite" class="sTable-inner grayBg fancybox-popup"><span class="icon icon_litplus pull-left"></span>Название</a></td>
                    <td><span class="sTable-inner grayBg">Сайт</span></td>
                    <td><span class="sTable-inner grayBg">Код</span></td>
                </tr>
                </thead>
                <tbody>
                {% for rival in rivals %}
                    <tr data-id="{{ rival.id }}">
                        <td>
                            <div class="closeWrap">
                                <a href="#modal{{ rival.id }}"  class="icon icon_edit rowEditing fancybox-popup-selected"></a>
                            </div>
                            {{ rival.name }}

                        </td>
                        <td><a href="{{ rival.url }}" target="_blank" class="linkProduct">{{ rival.url }}</a> </td>
                        <td>
                            {% set one = true %}
                            {% for code in rival.code %}
                                {% if one and code.def %}
                                    {{ code.code }}
                                    {% set one = false %}
                                {% endif %}
                            {% endfor %}


                            <div class="closeWrap">
                                <div class="zHiddenBlock">
                                    <div class="row-modal-window" id="modal{{ rival.id }}">
                                        <div class="zForm zNice">
                                            <form data-action="/app_dev.php/actionRival/{{ rival.id }}">
                                                <div class="zForm-row">
                                                    <input type="text" required="required" placeholder="Название" name="rival[name]" value="{{ rival.name }}"/>
                                                </div>

                                                <div class="zForm-row">
                                                    <input type="text" minlength="5" required="required" placeholder="Адрес сайта" name="rival[url]" value="{{ rival.url }}"/>
                                                </div>
                                                <div class="zForm-row ">
                                                    <select name="rival[code]" class="formstyler">
                                                        {% for code in rival.code %}
                                                            <option value="{{ code.id }}" {{ (code.def?'selected':'') }}>{{ code.code }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="zForm-row ">
                                                    <input type="text" minlength="3"  placeholder="Новый код" name="rival[codeText]"/>

                                                </div>
                                                <div class="zForm-row">
                                                    <input type="submit" class="sm-btn" value="Добавить" onclick="createRival($('#modal{{ rival.id }} form')); return false;"/>
                                                    <a href="#" class="button button_bgay sm-btn closeFancybox">ОТМЕНИТЬ</a>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                <a href="javascript:void(0);" onclick="deleteRivalAlert({{ rival.id }});" class="close-conc"><span class="icon icon_close"></span></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}