{% extends 'RgkBundle:Admin:base.html.twig' %}
{% macro recursiveSectionList(section,active=[],depth=0) %}
    <div class="zForm-row tal nowrap check-script check-troll-wrap">
        <label><input type="checkbox" name="rival[section][]" value="{{ section.id }}" {{ (section.id in active?'checked="checked"':'') }} data-parent-id="{{ section.parent_id?section.parent_id:0 }}"/>{% for i in 0..depth %} {{ (i?'<span class="nbsp"></span>':'')|raw }}  {% endfor %}<span class="check-troll">{{ (depth?'<span class="childCheckbox"></span>':'')|raw }}{{ section.title }}</span></label>
    </div>
    {% if section.children|length %}
        {% set chaildDepth = depth + 1 %}
        {% for child in section.children %}
            {{ _self.recursiveSectionList(child,active,chaildDepth) }}
        {% endfor %}
    {% endif %}
{% endmacro %}
{% block zhidden %}
    {{ parent() }}


        <div class="zHiddenBlock">
            <div class="row-modal-window" id="modalEditable">
                <div class="zForm">
                    <form data-action="/app_dev.php/actionRival/{#{ rival.id }#}">
                        <div class="form-col zNice small">
                            <div class="zForm-row">
                                Название:
                            </div>
                            <div class="zForm-row">
                                <input type="text" required="required" placeholder="Название" name="rival[name]" value="{# rival.name #}"/>
                            </div>
                            <div class="zForm-row">
                                URL:
                            </div>
                            <div class="zForm-row">
                                <input type="text" minlength="5" required="required" placeholder="Адрес сайта" name="rival[url]" value="{#rival.url #}"/>
                            </div>
                            <div class="zForm-row">
                                Код:
                            </div>
                            <div class="toselect-wrap">
                                <div class="deletius"></div>
                                <div class="zForm-row">
                                    <select name="rival[code]" class="formstyler">

                                           {# <option value="{{ code.id }}">{{ code.code }} <div class="delete-this"></div></option>#}

                                    </select>
                                </div>
                                <div class="zForm-row toselect">
                                    <input type="text" minlength="3" class="forSelect" placeholder="Новый код" name="rival[codeText]"/>
                                </div>
                            </div>
                            <div class="zForm-row zNice">
                                <input type="submit" class="sm-btn" value="Добавить" onclick="createRival($('#modalEditable form')); return false;"/>
                                <a href="#" class="button button_bgay sm-btn closeFancybox">ОТМЕНИТЬ</a>
                            </div>
                        </div>
                        <div class="form-col form-col-scrolled">
                            <div class="zForm-row">
                                Разделы
                            </div>
                            <div class="smash-container">

                                {% if sections is defined %}
                                    {% for section in sections %}
                                        {{ _self.recursiveSectionList(section) }}
                                    {% endfor %}
                                {% endif %}

                            </div>

                        </div>



                    </form>
                </div>

            </div>
        </div>



    <div class="lPopup report" id="addSite">
        <div class="popupTitle">
            Добавить конкурента
        </div>
        <div class="zForm zNice">
            <form data-action="/app_dev.php/actionRival">
                <div class="form-col small">
                    <div class="zForm-row error" style="display: none; color: #ff0000;">

                    </div>
                    {# col 1#}
                    <div class="zForm-row ">
                        <input type="text" required="required" placeholder="Название" name="rival[name]"/>
                    </div>

                    <div class="zForm-row">
                        <input type="text" minlength="5" required="required" placeholder="Адрес сайта" name="rival[url]"/>
                    </div>
                    <div class="zForm-row radioRow">
                        <input type="text" minlength="3" required="required" placeholder="Код" name="rival[codeText]"/>
                    </div>
                    <div class="zForm-row">
                        <input type="submit" class="sm-btn" value="Добавить" onclick="createRival($('#addSite form')); return false;"/>
                        <a href="#" class="button button_bgay sm-btn closeFancybox">ОТМЕНИТЬ</a>
                    </div>
                </div>
                <div class="form-col form-col-scrolled">
                    <div class="smash-container">
                        {% if sections is defined %}

                            {% for section in sections %}
                                {{ _self.recursiveSectionList(section) }}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                {# col 2 #}


                {# col 2 end #}

            </form>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="allWidth-content">
        <div class="contSearch">
            <div class="search">
                <form>
                    <div class="search-button">
                        <input type="submit" value="">
                    </div>
                    <div class="searsh-input">
                        <input type="text" placeholder="Поиск" name="q" value="{{ q }}">
                    </div>
                </form>
            </div>
        </div>
        <div class="lsep"></div>
        <div class="sTable bTable prodTable">
            <table>
                <thead>
                <tr>

                    <td><a href="#addSite"  class="sTable-inner grayBg fancybox-popup"><span class="icon icon_litplus pull-left"></span>Название</a></td>
                    <td><span class="sTable-inner grayBg">Сайт</span></td>
                    <td><span class="sTable-inner grayBg">Код</span></td>
                    <td><span class="sTable-inner grayBg">Разделы</span></td>
                </tr>
                </thead>
                <tbody>
                {% for rival in rivals %}
                    <tr data-id="{{ rival.id }}" >
                        <td>
                            <div class="closeWrap">
                                <a href="#modal{{ rival.id }}"  onclick="selectToInput($('#modal{{ rival.id }}'));" class="icon icon_edit rowEditing fancybox-popup-selected"></a>
                            </div>
                            {{ rival.name }}

                        </td>
                        <td><a href="{{ rival.url }}" target="_blank" class="linkProduct">{{ rival.url }}</a> </td>
                        <td>
                            {% set one = true %}
                            {% for code in rival.code %}
                                {% if one and code.def %}
                                    {{ code.code }}
                                    {% set one = false %}
                                {% endif %}
                            {% endfor %}



                        </td>
                        <td>
                            {% if rival.sections is defined and rival.sections is not empty %}
                                {% for section in rival.sections %}
                                    {{ section.title }}{{ (loop.last?'':',') }}
                                {% endfor %}
                            {% endif %}
                            <div class="closeWrap rel-td">
                                <a href="javascript:void(0);" onclick="deleteRivalAlert({{ rival.id }});" class="close-conc"><span class="icon icon_close"></span></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}