{% extends 'RgkBundle:Admin:base.html.twig' %}

{% block content %}
    <div class="content-left pull-left litright admin-create">


            <div class="popupTitle">
                Добавить пользователя
            </div>
            <div class="create-user zForm zNice">
                <form method="post">
                    <div class="zForm-row">
                        <div style="color:#ff0000;">
                            {% for error in form_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div>
                            {% for info in form_info %}
                                <p>{{ info }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="zForm-row">
                        Email
                    </div>
                    <div class="zForm-row">
                        <input type="email" name="user[email]" value="{{ registration.email }}" required="required" />
                    </div>
                    <div class="zForm-row">
                        Имя пользователя
                    </div>
                    <div class="zForm-row">
                        <input type="text" minlength="5" name="user[username]" value="{{ registration.username }}" required="required" />
                    </div>
                    <div class="zForm-row">
                        Пароль
                    </div>
                    <div class="zForm-row">
                        <input type="password" minlength="8" name="user[password]" required="required" />
                    </div>
                    <div class="zForm-row">
                        Повторыть пароль
                    </div>
                    <div class="zForm-row">
                        <input type="password" minlength="8" name="user[repassword]" required="required" />
                    </div>
                    <div class="zForm-row">

                    </div>
                    <div class="zForm-row">
                        <input type="submit" value="Добавить">
                    </div>
                </form>
            </div>

    </div>
    <div class="allWidth-content right-tabs">
        {% if user_list is not empty %}
            <div class="admin-table">
                <table>
                    <tr>
                        <td>ID</td>
                        <td>Имя пользователя</td>
                        <td>Email</td>
                        <td>Дата активности</td>
                        <td>Кем создан</td>
                    </tr>
                    {% for user in user_list %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.last_login }}</td>
                            <td>{{ user.parent }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
