{% extends 'RgkBundle:Auth:base.html.twig' %}
{% block content %}
    <div class="remind-wrap zForm zNice bigMg-form">
        {% if form_pass is defined %}
            {% if form_pass.ms is not empty %}
                <form>
                    <div class="zForm-row">
                        <p>{{ form_pass.ms }}</p>
                    </div>
                    <div class="text-right zForm-link-row">
                        <a href="/login" class="zForm-link">Войти</a>
                    </div>
                </form>
            {% else %}
                <div class="remind zForm zNice bigMg-form">
                    <form method="post">
                        <input type="hidden" name="{{ form_pass.key }}[token]" value="{{ form_pass.token }}" />

                        <div class="grayForm-image text-center zForm-row">
                            <img src="/images/formlogo.png" alt=""/>
                        </div>
                        {% if form_pass.error is defined and form_pass.error is not empty %}
                            <div class="zForm-row">
                                <p style="color: #dc6263;">{{ form_pass.error }}</p>
                            </div>
                        {% endif %}
                        <div class="zForm-row">
                            Введите новый пароль:
                        </div>
                        <div class="zForm-row">
                            <input type="password" minlength="8" name="{{ form_pass.key }}[password]" placeholder="Введите новый пароль"/>
                        </div>
                        <div class="zForm-row">
                            Повторите пароль:
                        </div>
                        <div class="zForm-row">
                            <input type="password" minlength="8" name="{{ form_pass.key }}[repassword]" placeholder="Повторите пароль"/>
                        </div>
                        <div class="zForm-row text-center">
                            <input type="submit" value="Отправить" class="allWidth btn-lg"/>
                        </div>
                    </form>
                </div>
            {% endif %}
        {% else %}
            <div class="remind zForm zNice bigMg-form">
                <form class="register-form" method="post" >
                    <div class="zForm-row">
                        <h2 style="font-size: 19px;">Востановление пароля</h2>
                    </div>
                    {% if form_user.ms is not empty %}
                        <div class="zForm-row">
                            <p>{{ form_user.ms }}</p>
                        </div>
                        <div class="zForm-row text-center popTroll">
                            <a href="/login" class="button"><span>На главную</span></a>
                        </div>
                    {% else %}
                        <div class="zForm-row">
                            Введите логин или адрес электронной почты
                        </div>
                        {% if form_user.fields.user.error is defined and form_user.fields.user.error is not empty%}
                            <div class="zForm-row">
                                <p style="color: #dc6263;">{{ form_user.fields.user.error }}</p>
                            </div>
                        {% endif %}
                         <div class="zForm-row">
                             <input type="text" minlength="5" required="required" name="{{ form_user.key }}[user]" value="{{ form_user.fields.user.value }}">
                         </div>
                         <div class="zForm-row text-center">
                             <input type="submit" value="Отправить" class="allWidth btn-lg"/>
                         </div>
                    {% endif %}
                 </form>
            </div>
        {% endif %}
    </div>
{% endblock %}